@using CyprusAirportTransfer.App.UseCases.Users.Commands.UpdateUser;
@using CyprusAirportTransfer.App.UseCases.Users.Queries.GetAllUsers;
@using CyprusAirportTransfer.App.UseCases.Users.Queries.GetUserWithPagination;
@using CyprusAirportTransfer.App.UseCases.Users.Queries.GetUserById;
@using CyprusAirportTransfer.Blazor.Services;
@using Microsoft.AspNetCore.Components.Forms;
<div class="user-list-item container">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <h5>@title</h5>
                <p>@subtitle</p>
            </div>
            <div class="row">
                <p id="labelMessage" class="col-md-2 alert-success">@message</p>
            </div>
            <div class="row" style="@(Collapsed ? "display:none;" : "display:block;")">
                @if(userFull == null)
                {
                    <p><em>Loading...</em></p>
                } else
                {
                    <EditForm Model="@userFull">
                        <p>
                            <div class="form-group row">
                                <div class="col-md-2">ID</div>
                                <div class="col-md-7"><InputNumber @bind-Value="@userFull.Id" readonly="true" /></div>
                            </div>
                        </p>
                        <p>
                            <div class="form-group row">
                                <div class="col-md-2">Email</div>
                                <div class="col-md-7"><InputText @bind-Value="@userFull.Email" /></div>
                            </div>
                        </p>
                        <p>
                            <div class="form-group row">
                                <div class="col-md-2">Username</div>
                                <div class="col-md-7"><InputText @bind-Value="@userFull.UserName" /></div>
                            </div>
                        </p>
                        <p>
                            <div class="form-group row">
                                <div class="col-md-2">Created</div>
                                <div class="col-md-7"><InputDate @bind-Value="@userFull.CreatedDate" readonly="true" /></div>
                            </div>
                        </p>
                        <p>
                            <div class="form-group row">
                                <div class="col-md-2">Updated</div>
                                <div class="col-md-7"><InputDate @bind-Value="@userFull.UpdatedDate" readonly="true" /></div>
                            </div>
                        </p>
                    </EditForm>
                }
            </div>
        </div>
        <div class="col-md-2 user-list-item-buttons">
            <div id="btnView" @onclick="()=> {
                this.Collapsed = !this.Collapsed;
                if(!this.Collapsed) {
                    Expand();
                } else {
                    message = null;
                }
            }" style="display:block" class="btn btn-primary user-list-item-button">@(Collapsed ? "View" : "Hide")</div>
            <div @onclick="HandleValidSubmitAsync" type="submit" style="@(Collapsed ? "display:none;" : "display:block;")" class="btn btn-primary user-list-item-button">Save</div>
            <div @onclick="DeleteUserAsync" type="submit" style="@(Collapsed ? "display:none;" : "display:block;")" class="btn btn-danger user-list-item-button">Delete</div>
        </div>
    </div>
</div>

@code {
    private string title { get; set; }
    private string subtitle { get; set; }
    private string message { get; set; }

    private UserService userService { get; set; }
    [Parameter]
    public GetUsersWithPaginationDto? user { get; set; }

    public GetUserByIdDto? userFull { get; set; }

    private bool Collapsed = true;

    [Parameter]
    public EventCallback OnFormSubmitted { get; set; }

    protected override void OnParametersSet()
    {
        if(user != null)
        {
            title = user.UserName;
            subtitle = user.Email;
        } else
        {
            title = "Problem with loading the user, please reload the page";
            subtitle = "";
        }
    }

    protected override void OnInitialized() => userService = new UserService();

    private async Task HandleValidSubmitAsync()
    {
        message = "";
        var updateResult = await userService.UpdateUser(new UpdateUserCommand
        {
            Id = userFull.Id,
            Email = userFull.Email,
            UserName = userFull.UserName
        });
        if(updateResult != null)
        {
            foreach (var responseMessage in updateResult.Messages)
            {
                message += "- " + responseMessage + "\n";
            }
            title = userFull.UserName;
            subtitle = userFull.Email;
            await OnFormSubmitted.InvokeAsync();
        }
    }

    protected async Task Expand()
    {
        if(user != null)
        {
            var userFullRes = await userService.GetUserByIdAsync(user.Id);
            if(userFullRes.Succeeded)
            {
                userFull = userFullRes.Data;
                StateHasChanged();
            }
        }
    }

    private async Task DeleteUserAsync()
    {
        var deleteResult = await userService.DeleteUser(userFull.Id);

        foreach (var responseMessage in deleteResult.Messages)
        {
            message += "- " + responseMessage + "\n";
        }

        await OnFormSubmitted.InvokeAsync();
    }
}
